<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Snippet</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="js/jquery.fullpage.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
	<script src="js/jquery.fullpage.extensions.min.js"></script>
    <script src="js/controllers/SnippetMain.js"></script>
	<script src="js/controllers/SnippetLogin.js"></script>
    <script src="js/services/SnippetService.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="snippetApp" ng-controller="SnippetMain as vm">
<div id="fullpage">
	<section class="vertical-scrolling">
		<div class="horizontal-scrolling snippet">
			<div class="container">
				<div class="row">
					<div style="margin-top: 4em;" class="col-sm-12">
						<h4 style="font-weight: 100; color: white;">Snippets</h4>
						<div class="card">
						  <ul class="list-group list-group-flush">
							<li class="list-group-item">
								<img src="https://www.music-bazaar.com/album-images/vol30/1110/1110503/2977081-big/Lions-In-The-Wild-Single-cover.jpg" class="img-circle img-fluid" width="64" height="64">
								<div class="snippet-details">
									<span class="lead">Benjamin Corn</span><br>
									<span class="text-muted">11m ago</span>
								</div>
							</li>
							<li class="list-group-item">
								<img src="http://www.rap-up.com/app/uploads/2015/03/kendrick-cover.jpg" class="img-circle img-fluid" width="64" height="64">
								<div class="snippet-details">
									<span class="lead">Namir Fawaz</span><br>
									<span class="text-muted">1hr ago</span>
								</div>
							</li>
							<li class="list-group-item">
								<img src="https://upload.wikimedia.org/wikipedia/en/9/93/Pharmacy_by_Galantis.jpg" class="img-circle img-fluid" width="64" height="64">
								<div class="snippet-details">
									<span class="lead">Ben Chen</span><br>
									<span class="text-muted">2hr ago</span>
								</div>
							</li>
							<li class="list-group-item">
								<img src="https://upload.wikimedia.org/wikipedia/en/6/67/Roses_%28featuring_ROZES%29_%28Official_Single_Cover%29_by_The_Chainsmokers.png" class="img-circle img-fluid" width="64" height="64">
								<div class="snippet-details">
									<span class="lead">Adrian Law</span><br>
									<span class="text-muted">3hr ago</span>
								</div>
							</li>
						  </ul>
						</div>
					</div>
			</div>
			</div>
		</div>
		<div class="horizontal-scrolling snippet">

		</div>
		<div class="horizontal-scrolling snippet">

		</div>
	</section>
</div>
    <div class="container">
        <div class="row">
			<div style="margin-top: 1em;" class="col-sm-4">
				<h5>Snippets</h5>
				<div class="card">
				  <ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				  </ul>
				</div>
			</div>
            <div style="margin-top: 1em;" class="col-sm-4">
			<h5>Snip</h5>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group spotify-search">
                                <label>Search Song</label>
                                <input type="text" class="form-control" ng-model="vm.SearchQuery" />
                                <button style="float:right; margin-top: 1em; margin-bottom: 1em;" type="button" ng-click="vm.Search()" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.SongResults">
                    <div style="margin-top:1em;" class="results-table col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width: 25%;">SONG</th>
                                    <th style="width: 25%;">ARTIST</th>
                                    <th>PREVIEW</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="song in vm.SongResults.tracks.items">
                                    <th scope="row">
                                        <img style="max-width: 20%" class="img-responsive" ng-src="{{song.album.images[0].url | trustAudioSrc}}" alt="Album Title">
                                    </th>
                                    <td>{{song.name}}</td>
                                    <td>{{song.artists[0].name}}</td>
                                    <td>
                                        <audio style="width: 210px;" controls>
                                            <source ng-src="{{song.preview_url | trustAudioSrc}}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			<div style="margin-top: 1em;" class="col-sm-4">
				<div class"card">
					<h5>Explore</h5>
					<div class="card card-inverse">
					  <img class="card-img img-fluid" src="https://ultramusicfestival.com/wp-content/uploads/2015/11/miami-og-3.jpg" alt="Card image">
					  <div class="card-img-overlay">
						<h4 class="card-title">Electronic/Dance</h4>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					  </div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <style class="ng-scope">
	
	.snippet{
		background: #c0392b;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	.img-circle {
    border-radius: 50%;
}

.snippet-details{
	padding-left: 1em;
}
	
        .navbar {
            margin-bottom: 0;
        }

        .open-stack-login {
            margin-top: 1em;
        }

        .spotify-search {
            margin-top: 1em;
        }

        .jumbotron {
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0;
            background-color: #fff;
        }

            .jumbotron p:last-child {
                margin-bottom: 0;
            }

        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }

    </style>

</body>
</html>

