<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Snippet</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="js/controllers/SnippetMain.js"></script>
    <script src="js/services/SnippetService.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="snippetApp" ng-controller="SnippetMain as vm">
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
        <div class="container justify-content-between">
            <a href="#" class="navbar-brand">Snippet</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group spotify-search">
                                <label>Search Song</label>
                                <input type="text" class="form-control" ng-model="vm.SearchQuery" />
                                <button style="float:right; margin-top: 1em; margin-bottom: 1em;" type="button" ng-click="vm.Search()" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="vm.SongResults">
                    <div style="margin-top:1em;" class="results-table col-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width: 25%;">SONG</th>
                                    <th style="width: 25%;">ARTIST</th>
                                    <th>PREVIEW</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="song in vm.SongResults.tracks.items">
                                    <th scope="row">
                                        <img style="max-width: 20%" class="img-responsive" ng-src="{{song.album.images[0].url | trustAudioSrc}}" alt="Album Title">
                                    </th>
                                    <td>{{song.name}}</td>
                                    <td>{{song.artists[0].name}}</td>
                                    <td>
                                        <audio style="width: 210px;" controls>
                                            <source ng-src="{{song.preview_url | trustAudioSrc}}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style class="ng-scope">
        .navbar {
            margin-bottom: 0;
        }

        .open-stack-login {
            margin-top: 1em;
        }

        .spotify-search {
            margin-top: 1em;
        }

        .jumbotron {
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0;
            background-color: #fff;
        }

            .jumbotron p:last-child {
                margin-bottom: 0;
            }

        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }

    </style>

</body>
</html>

