<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Snippet</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="js/jquery.fullpage.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
	<script src="js/jquery.fullpage.extensions.min.js"></script>
    <script src="js/controllers/SnippetMain.js"></script>
	<script src="js/controllers/SnippetLogin.js"></script>
    <script src="js/services/SnippetService.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="snippetApp" ng-controller="SnippetMain as vm">
<div id="fullpage">
	<section class="vertical-scrolling">
		<div class="horizontal-scrolling snippet">
			<div class="container">
				<div class="row">
					<div style="margin-top: 4em;" class="col-sm-12">
						<h4 style="font-weight: 100; color: white;">Friend Streams</h4>
						<div style="max-height: 100%; overflow: auto;" class="card">
						  <ul id="accordian" class="list-group">
							<div ng-repeat="stream in vm.Streams" ng-init="$last && vm.CreateTriggerEvent()">
                                <li data-toggle="collapse" data-target="{{'#' + stream.userId}}" class="list-group-item stream">
								<img ng-src="{{stream.albumCover | trustAudioSrc}}" class="img-circle img-fluid" width="64" height="64">
								<div class="snippet-details">
									<span class="lead">{{stream.userName}}</span><br>
									<span class="text-muted">{{stream.time}}</span>
								</div>
                                </li>
                            <div id="{{stream.userId}}" class="collapse">
                                  <a ng-repeat="s in stream.snippets" class="list-group-item stream-item small d-flex justify-content-start">
                                    <div class="p-2">
                                        <img ng-src="{{s.albumCover | trustAudioSrc}}" class="img-circle img-fluid" width="32" height="32">
                                    </div>
                                    <div class="snippet-details p-2">
                                        <span class="lead">{{s.songTitle}}</span><br>
                                        <span class="text-muted">{{s.artistName}}</span>
                                    </div>
                                    <div class="ml-auto p-2">
                                        <audio style="width: 210px;" controls>
                                            <source ng-src="{{s.streamSrc | trustAudioSrc}}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                    <div class="p-2">
                                        <div class="dropdown">
                                            <button ng-click="vm.AddStream(s.songId)" data-toggle="dropdown" class="btn btn-outline-primary btn-circle">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
<!--
                                        <div class="dropdown-menu stream-dropdown" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Add to Stream</button>
                                            <button class="dropdown-item" type="button">Add to Playlist</button>
                                        </div>
-->
                                        </div>
                                    </div>
                                </a>
                            </div>
                            </div>
						  </ul>
						</div>
					</div>
			     </div>
			</div>
		</div>
		<div class="horizontal-scrolling snip">
			<div class="container">
                <div class="row">
					<div style="margin-top: 4em;" class="col-sm-12">
						<h4 style="font-weight: 100; color: white;">Snip</h4>

                        <form>
                            <div class="form-group spotify-search">
                                <input type="text" class="form-control song-search" ng-model="vm.SearchQuery" />
<!--                                <button style="float:right; margin-top: 1em; margin-bottom: 1em;" type="button" ng-click="vm.Search()" class="btn btn-primary">Search</button>-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-if="vm.SongResults">
                    <div style="margin-top:1em;" class="results-table col-sm-12">
                        <table class="table table-borderless">
                            <thead>
                                <tr style="color: white;">
                                    <th></th>
                                    <th style="width: 25%;">TITLE</th>
                                    <th style="width: 25%;">ARTIST</th>
                                    <th>PREVIEW</th>
									<th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="song in vm.SongResults.tracks.items | limitTo: 5">
                                    <th scope="row">
                                        <img style="max-width: 20%" class="img-circle" ng-src="{{song.album.images[0].url | trustAudioSrc}}" alt="Album Title">
                                    </th>
                                    <td>{{song.name}}</td>
                                    <td>{{song.artists[0].name}}</td>
                                    <td>
                                        <audio style="width: 210px;" controls>
                                            <source ng-src="{{song.preview_url | trustAudioSrc}}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </td>
									<td>
										<i class="fa fa-plus" aria-hidden="true"></i>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
			</div>
		</div>
		<div class="horizontal-scrolling explore">
			<div class="container">
				<div class="row">         
					<div style="margin-top: 4em;" class="col-sm-12">
						<h4 style="font-weight: 100; color: white;">Find Friends</h4>
                        <form>
                            <div class="form-group friend-search">
                                <input placeholder="Enter a username or email" type="text" class="form-control friend-search" ng-model="vm.FriendQuery" />
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

    <style class="ng-scope">
        
        .btn-circle{
              width: 30px;
              height: 30px;
              text-align: center;
              padding: 6px 0;
              font-size: 12px;
              line-height: 1.428571429;
              border-radius: 15px;
        }
        
        .stream-item{
            background-color: #fafafa;
        }
        
        .stream-dropdown{
            top: -27px !important;
            left: -143px !important;
            border-radius: 0 !important;
        }
	
	.table-borderless > tfoot > tr > td,
	.table-borderless > tfoot > tr > th {
		border: none !important;
	}
	
	.table-borderless > tbody > tr > td,
	.table-borderless > tbody > tr > th,
	.table-borderless > thead > tr > td,
	.table-borderless > thead > tr > th {
		border-color: rgba(255,255,255,.6);
	}
	
	.snippet{
		background: #c0392b;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	.snip{
		background: #C33764;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	.explore{
		background: #F3904F;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	th{
	    letter-spacing: .1em;
		font-weight: 100;
	}
	
	tr{
		color: white;
	}
	
	.img-circle {
    border-radius: 50%;
}

.snippet-details{
	padding-left: 1em;
}
	
        .navbar {
            margin-bottom: 0;
        }

        .open-stack-login {
            margin-top: 1em;
        }

        .spotify-search {
            margin-top: 1em;
        }

        .jumbotron {
            padding-top: 6rem;
            padding-bottom: 6rem;
            margin-bottom: 0;
            background-color: #fff;
        }

            .jumbotron p:last-child {
                margin-bottom: 0;
            }

        .jumbotron-heading {
            font-weight: 300;
        }

        .jumbotron .container {
            max-width: 40rem;
        }

    </style>

</body>
</html>

