<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>funstuff</title>
	</head>
	<body>
		Hello World, this is a webpage
		<form action="/test" method="POST">
			<input type="text" placeholder="name" name="name">
			<input type="text" placeholder="field" name="field">
			<button type="submit">Submit</button>
		</form>
	</body>
</html>