<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Snippet</title>

    		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="js/controllers/SnippetLogin.js"></script>
		<script src="js/controllers/SnippetMain.js"></script>
		<script src="js/services/SnippetService.js"></script>
		<script src="js/app.js"></script>

	</head>
<body ng-app='snippetApp' ng-controller="SnippetLogin as vm">
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse bg-inverse">
        <div class="container justify-content-between">
            <a href="/" class="navbar-brand">Snippet</a>
        </div>
    </div>
    <div class="container" style="margin-top: 1em;">
	<div class="row">
		<div class="col-sm-6 mx-auto">
			<form class="form-login">
				<button style="margin-bottom: 1em; " class="btn btn-primary btn-block fb-btn" type="button">LOG IN WITH FACEBOOK</button>
                <hr>
                <div ng-if="vm.errorMessage" style="margin-bottom: 1em; color: red; text-align: center;"> {{vm.errorMessage}} </div>
				<input ng-model="vm.User.Email" style="margin-bottom: .5em;" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
				<input ng-model="vm.User.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <hr>
				<button ng-click="vm.loginUser()" style="margin-top: 1em;" class="btn btn-success btn-block login-btn" type="button">LOG IN</button>
		  </form>
		</div>
	</div>     
		  <div class="row">
		<div class="col-xs-12 mx-auto text-center">
			Don't have an account? <a style="color:#1ed760" href="/register">Sign Up</a>
		</div>
	  </div> 
    </div>
        <style>
            .navbar {
                margin-bottom: 0;
            }

		.fb-btn{
			background-color: #3b5998;
			font-size: .85em;
			font-weight: 500;
			letter-spacing: 1px;
			height: 48px;
		}
		
		.fb-btn:hover{
			background-color: #3a61b3;
		}
		
		.login-btn:hover{
			background-color: #1ed760;
		}

		.login-btn{
			font-size: .85em;
			font-weight: 500;
			background-color: #2ebd59;
			letter-spacing: 1px;
			height: 48px;
		}

		.form-control{
			border-radius: .15em;
		}
		.btn{
			border-radius: 500px;
		}

            .open-stack-login {
                margin-top: 1em;
            }

	    .spotify-search{
		margin-top: 1em;
		}

            .jumbotron {
                padding-top: 6rem;
                padding-bottom: 6rem;
                margin-bottom: 0;
                background-color: #fff;
            }

                .jumbotron p:last-child {
                    margin-bottom: 0;
                }

            .jumbotron-heading {
                font-weight: 300;
            }

            .jumbotron .container {
                max-width: 40rem;
            }

            .album {
                min-height: 50rem; /* Can be removed; just added for demo purposes */
                padding-top: 3rem;
                padding-bottom: 3rem;
                background-color: #f7f7f7;
            }

            .card {
                float: left;
                width: 33.333%;
                padding: .75rem;
                margin-bottom: 2rem;
                border: 0;
            }

                .card > img {
                    margin-bottom: .75rem;
                }

            .card-text {
                font-size: 85%;
            }

            footer {
                padding-top: 3rem;
                padding-bottom: 3rem;
            }

                footer p {
                    margin-bottom: .25rem;
                }


        </style>

</body>
</html>

